<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div style="width: 100%;height: 50px">
			
		</div>
		<a href="http://localhost:3000/form-add" title=""><button type="button" class="btn btn-success">Thêm mới</button></a>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Mã sách</th>
					<th>Tên sách</th>
					<th>Loại sách</th>
					<th>Tên tác giả</th>
					<th>Hành động</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i = 0 ; i< results.length; i++) { %>
					<tr>
						<td><%= results[i].id %></td>
						<td><%= results[i].name %></td>
						<td><%= results[i].type %></td>
						<td><%= results[i].author %></td>
						<td>
							<a href="http://localhost:3000/form-edit/<%= results[i].id %>"><button type="button" class="btn btn-info">Sửa</button></a>
							<a href="http://localhost:3000/delete/<%= results[i].id %>" ><button type="button" class="btn btn-danger">Xóa</button></a>
						</td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>	
</body>
</html>